# IGNORED FILE EXTENSIONS
*.txt
*~
*.class
*.jpg
*.png
*.xml
*.wav
*.jar

# ECLIPSE RELATED:
*.metadata
*.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
*.settings/
*.loadpath
"Code/OpenCV tests/.classpath"
*.classpath
*.project
